<!DOCTYPE html>
<html>
<head>
  <title>🚪🔒</title>
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.com/4f369a57-2d42-449d-bdf1-413ca2413ef0%2Fapple-touch-icon.png?1512928473971">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.com/4f369a57-2d42-449d-bdf1-413ca2413ef0%2Ffavicon-32x32.png?1512928474238">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.com/4f369a57-2d42-449d-bdf1-413ca2413ef0%2Ffavicon-16x16.png?1512928474098">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="https://cdn.glitch.com/4f369a57-2d42-449d-bdf1-413ca2413ef0%2Fsafari-pinned-tab.svg?1512928474579" color="#ffffff">
  <meta name="apple-mobile-web-app-title" content="T&uuml;rschloss">
  <meta name="application-name" content="T&uuml;rschloss">
  <meta name="theme-color" content="#ffffff">
  
  
  Bak
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:600">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  
  <form class="loggedOut fs loginForm" action="/">
    
    <div class="btn">HGO 🚪🔒</div>
    
    <input type="email" placeholder="name" required>
    <input type="password" placeholder="passwort" required>
    
    <button type="submit" class="btn login">anmelden</button>
  </form>
  
  <div class="loggedIn fs switch" hidden> 
    <div class="btn open">öffnen</div>
    <div class="btn logout">abmelden</div>
  </div>
  
  
  <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase-auth.js"></script>
  <script src="/client.js"></script>
</body>
</html>
