* {
  box-sizing: border-box;
}
html {
  font-size: 20px;
}
body {
  height: 100vh;
  margin: 0;
  background: #fff;
  
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.fs {
  display: flex;
  flex-direction: column;
  
  height: 100%;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  
  background: #fff;
  border: 1px solid #000;
  border-bottom: none;
  
  cursor: pointer;
  user-select: none;
  
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
.btn:last-child {
  border-bottom: 1px solid #000;
}
.btn:hover {
  background: #eaeaea;
}

input[type=email], input[type=password], input[type=submit]  {
  border: 1px solid black;
  border-bottom: none;
  
  background: #fff;
  
  font-size: 1rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  
  flex-grow: 1;
}


[hidden]{
  display: none;
}

@media (orientation:landscape) {
  .switch {
    flex-direction: row;
  }
  .btn {
    border-bottom: 1px solid #000;
    border-right: none;
  }
  .btn:last-child {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
  }
}